/* General */

@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

:root {
    --card-height: 212px;
    --card-width: 256px;
    --yellow-bg: #fcbf0f;
    --light-blue: #0B87A6;
    --light-gray: #3b3b3b;
    --card-bg: #fff;
    --transition: all .3s ease;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 12pt;
}

body,
h1,
h2,
h3,
a,
p,
div,
span {
    font-family: "system";
}

.bg-4 {
    width: 33.333%;
}

.clearfix {
    overflow: auto;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}


/* End General */


/* css specifics */


/* div all btns */

.all-btns {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
    transition: var(--transition);
    text-align: center;
}

.all-btns .btn-container {
    width: 30%;
    height: 100%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 1%;
    position: relative;
    opacity: .8;
    transition: var(--transition);
    cursor: pointer;
}

.all-btns .btn-container:hover {
    opacity: 1;
}

.all-btns .btn-container:hover .btn-text {
    height: 100%;
    padding-top: 85px;
    background-color: rgba(0, 0, 0, .6);
    font-size: 2.5em;
    transition: var(--transition);
}

.all-btns .btn-container.btn-cow {
    background-image: url('../assets/img/cow.jpg');
}

.all-btns .btn-container.btn-dog {
    background-image: url('../assets/img/dog.jpg');
}

.all-btns .btn-container.btn-giraffe {
    background-image: url('../assets/img/giraffe.jpg');
}

.all-btns[type="cow"] .btn-container.btn-cow .btn-text {
    background-color: rgba(0, 255, 0, .6);
}

.all-btns[type="dog"] .btn-container.btn-dog .btn-text {
    background-color: rgba(255, 0, 0, .6);
}

.all-btns[type="giraffe"] .btn-container.btn-giraffe .btn-text {
    background-color: rgba(0, 0, 255, .6);
}

.all-btns .btn-container .btn-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .6px;
    transition: var(--transition);
}


/* end div all btns */


/* div list-imgs */

.list-images {
    position: relative;
    top: 334px;
    padding: 0 20px;
    text-align: center;
}

.list-images .box-imgs {
    display: inline-block;
    margin: 20px 1%;
}

.list-images .box-imgs .img {
    width: 175px;
    height: 180px;
    display: block;
    background-size: cover;
    background-position: top;
    float: left;
    border-radius: 300px;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
}

#load-page {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/img/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(229, 239, 241, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: var(--transition);
    pointer-events: none;
}

.show {
    opacity: 1 !important;
    transition: var(--transition);
}


/* responsible css */

@media (max-width: 626px) {
    .all-btns .btn-container:hover .btn-text {
        height: 100%;
        padding-top: 85px;
        background-color: rgba(0, 0, 0, .6);
        font-size: 1em !important;
        transition: var(--transition);
    }
}


/* scrollbar */

body::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
    width: 4px;
}

body::-webkit-scrollbar-track {
    background-color: #eaeaea;
    width: 2px;
    border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    outline: 1px solid slategrey;
    width: 12px !important;
    border-radius: 12px;
}